*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.out
*.app
.vs
.vscode
.idea/

build/
cmake-build-*/
out/
.cache/
bin/Cemu_*
bin/Cemu_*.exe

# Cemu bin files
bin/otp.bin
bin/seeprom.bin
bin/log.txt
bin/Cemu_*.pdb
bin/Cemu_*.ilk
bin/Cemu.exe.backup
bin/mlc01/*
bin/settings.xml
bin/network_services.xml
bin/title_list_cache.xml
bin/debugger/*
bin/sdcard/*
bin/screenshots/*
bin/dump/*
bin/cafeLibs/*
bin/portable/*
bin/keys.txt

!bin/shaderCache/info.txt
bin/shaderCache/*

bin/controllerProfiles/*

!bin/gameProfiles/default/*
bin/gameProfiles/*

bin/graphicPacks/*

# Ignore Finder view option files created by OS X
.DS_Store