[submodule "dependencies/ZArchive"]
	path = dependencies/ZArchive
	url = https://github.com/Exzap/ZArchive
	shallow = true
[submodule "dependencies/cubeb"]
	path = dependencies/cubeb
	url = https://github.com/mozilla/cubeb
	shallow = true
[submodule "dependencies/vcpkg"]
	path = dependencies/vcpkg
	url = https://github.com/microsoft/vcpkg
	shallow = true
[submodule "dependencies/Vulkan-Headers"]
	path = dependencies/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui
