*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.out
*.app
.vs

build/
out/
.cache/

# Cemu bin files
bin/Cemu
bin/dump
bin/graphicPacks
bin/mlc01/*
bin/otp.bin
bin/seeprom.bin
bin/keys.txt
bin/Cemu.pdb
bin/settings.xml
bin/title_list_cache.xml

!bin/shaderCache/info.txt
bin/shaderCache/*

bin/controllerProfiles/*

!bin/gameProfiles/default/*
bin/gameProfiles/*
