<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application tools:ignore="MissingApplicationIcon">
        <activity
            android:name=".emulation.EmulationActivity"
            android:process=":EmulationProcess"
            tools:node="merge" />
    </application>
</manifest>